<h1> Dark Sky API </h1>

<h2>Latitude</h2>

<%= @forecast.latitude %>

<h2>Pressure</h2>

<%= @pressure %>

<h2> Humidity </h2>

<%= @relative_humidity %>


<h2> Evaporation </h2>

<%= @evaporation %>


<h2> Pollen </h2>

<h2> Pollution </h2>
